<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pepperecycle">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- >Per salvare la foto -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- >Per caricare la foto -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" /> <!-- >Per caricare la foto -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />
    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/pepperecycle_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pepperecycle_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name=".TestDBActivity"
            android:exported="true" />
        <activity
            android:name=".PepperTeachesActivity"
            android:exported="true" />
        <activity
            android:name=".PepperClassifyingActivity"
            android:exported="true" />
        <activity
            android:name=".GameOverActivity"
            android:exported="true" />
        <activity
            android:name=".JudgeConfirmActivity"
            android:exported="true" />
        <activity
            android:name=".PlayUserTurnActivity"
            android:exported="true" />
        <activity
            android:name=".PlayPepperTurnActivity"
            android:exported="true" />
        <activity
            android:name=".TutorialActivity"
            android:exported="true" />
        <activity
            android:name=".PlayGameActivity"
            android:exported="true" />
        <activity
            android:name=".TodoActivity"
            android:exported="true" />
        <activity
            android:name=".PlayIntroActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>