<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pepperecycle" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />
    <uses-feature android:name="com.softbank.hardware.pepper" />

    <application
        android:allowBackup="true"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/pepperecycle_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pepperecycle_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".game.PlayJudgeTurnActivity"
            android:exported="true" />
        <activity
            android:name=".game.NextTurnActivity"
            android:exported="true" />
        <activity
            android:name=".tutorial.TutorialEndActivity"
            android:exported="true" />
        <activity
            android:name=".game.PepperTeachesActivity"
            android:exported="true" />
        <activity
            android:name=".game.GameOverActivity"
            android:exported="true" />
        <activity
            android:name=".game.PlayUserTurnActivity"
            android:exported="true" />
        <activity
            android:name=".game.PlayPepperTurnActivity"
            android:exported="true" />
        <activity
            android:name=".tutorial.TutorialActivity"
            android:exported="true" />
        <activity
            android:name=".game.PlayGameActivity"
            android:exported="true" />
        <activity
            android:name=".game.PlayIntroActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>